body {
    width: 100%;
    height: 100%;
}


.btn-group {
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    background: white;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    border: none;
}

.active {
    color: #FDBA38;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.input-style {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
}

    .input-style:focus {
        border: solid 1px #FDBA38;
        outline: none;
    }

table {
    cursor: default;
}

    table th, td {
        text-align: center;
    }

.btn-submit {
    color: #FDBA38;
    border-color: #FDBA38;
}

    .btn-submit:hover {
        color: #fff;
        background-color: #FDBA38;
        border-color: #FDBA38;
    }

    .btn-check:focus + .btn-submit, .btn-submit:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
    }

.disable {
    background-color: #f0f0f0;
    color: #999;
    opacity: 0.6;
    pointer-events: none;
}

.text-header {
    font-family: Consolas
}

.header-form {
    font-size: 1.5rem;
    font-family: Consolas
}

    .header-form a {
        text-decoration: none;
        color: #FDBA38;
        position: relative;
    }

        .header-form a::before {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #FDBA38;
            content: '';
            -webkit-transform: translateY(8px);
            opacity: 0;
            transition-property: -webkit-transform, opacity;
            transition-duration: .3s;
        }

        .header-form a:hover::before {
            -webkit-transform: translateY(0);
            opacity: 1;
        }

.btnViewHistory {
    color: #FDBA38;
    transition: 0.3s ease-in-out;
}

    .btnViewHistory:hover {
        text-decoration-line: underline;
        color: #FDBA38;
    }

    .hidden {
        display: none;
    }

    .accordion-button.collapsed {
        color: white; 
        background-color: white; 
    }
    
    .accordion-button:not(.collapsed) {
        color: white; 
        background-color: #495057; 
        transition: background-color 0.3s ease; 
    }
    
    .accordion-body .btn:hover {
        background-color: #343a40; 
    }

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.year-section {
    margin-bottom: 20px;
    margin-left: 20px;
}

    .year-section h4 {
        font-weight: bold;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .year-section ul {
        margin-left: 20px;
        list-style: none;
        padding: 0;
    }

    .year-section li {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .table {
        width: 1160px;
    }

@media screen and (max-width: 767px) {
    .toolbar-admin {
        min-height: 0vh !important;
    }

    .table-reponsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .text-header {
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .toolbar-admin {
        min-width: 25% !important;
    }

    .main-content-admin {
        width: 75% !important;
    }

    .table-reponsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
