body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/*.buttonAdd {
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: tomato;
    border-color: gold;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .buttonAdd:hover {
        background-color: darkred;
        transform: scale(1.05);
    }*/

.form-container-List {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

    .table th,
    .table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }

    .table th {
        background-color: #ffc107;
        color: white;
        font-weight: bold;
    }


.description-column {
    width: 300px;
    word-wrap: break-word;
    white-space: normal;
}

.form-title {
    text-align: center;
    margin: 0 0 20px;
    font-size: 24px;
    color: orange;
    font-weight: bold;
    margin-bottom: 30px;
}
.btnListadd {
    display: block;
    margin: 10px auto;
    width: 15%;
    background-color: orange;
    border-color: gold;
    padding: 10px;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/*
    .buttonDele, buttonUpdate .buttonRestore {
    border-color: gold;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .buttonDele:hover, buttonUpdate:hover .buttonRestore:hover {
        background-color: dar;
        transform: scale(1.05);
    }
*/

p {
    text-align: center;
    margin-top: 30px;
    color: tomato;
    font-size: 20px;
}

th, td {
    /*color: orange;*/
    font-size: 14px;
}


.dimmed {
    opacity: 0.5;
    pointer-events: none;
}


    .dimmed img {
        opacity: 0.5;
    }
.buttonRestore {
    border-color: lightgreen;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.5;
}

    .buttonRestore:hover {
        background-color: darkgreen;
        transform: scale(1.05);
    }

.buttonDele {
    border-color: gold;
    background-color: tomato;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.buttonDele:hover {
    background-color: orangered;
    transform: scale(1.05);
}
.buttonUpdate {
    border-color: gold;
    background-color: chocolate;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
    .buttonUpdate:hover {
        background-color: coral;
        transform: scale(1.05);
    }