/* Tạo Font */
@font-face {
    font-family: regular;
    src: url(Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: italic;
    src: url(Fonts/Roboto-italic.ttf);
}

@font-face {
    font-family: bolditalic;
    src: url(Fonts/Roboto-Bolditalic.ttf);
}

@font-face {
    font-family: condensed;
    src: url(Fonts/Roboto-Condensed.ttf);
}

@font-face {
    font-family: bold;
    src: url(Fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: boldcondensed;
    src: url(Fonts/Roboto-BoldCondensed.ttf);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    font-family: regular;
    background-color: #FFFFFF;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Sidebar */
header {
    width: 18%;
    height: 100%;
    background-color: #217CA3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    header div {
        width: 100%;
    }

    /* Avatar */
    header #avartar {
        width: 100%;
        display: flex;
        color: #FFFFFF;
        font-size: 18px;
        font-family: regular;
        padding-bottom: 10px;
        border-bottom: #5D9BB3 solid 1px;
        align-items: center;
    }

        header #avartar img {
            height: 40px;
            width: 40px;
            margin-right: 8px;
            border: #FFFFFF solid 1px;
            border-radius: 50%;
        }

/* Navbar */
#navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #navbar ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }

        #navbar ul > li {
            width: 90%;
            list-style: none;
            padding: 10px 0; /* Điều chỉnh chiều cao */
            margin: 5px auto; /* Căn giữa */
            border-radius: 5px;
        }

            /* Mục được chọn */
            #navbar ul > li.active {
                background-color: #4D96B5;
                border-left: 3px solid #FF5274;
                border-radius: 5px;
            }

            /* Link trong menu */
            #navbar ul > li > a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 5px 0;
                font-family: regular;
                font-size: 14px;
                color: #FFFFFF;
                text-decoration: none;
            }

            /* Hiệu ứng hover */
            #navbar ul > li:hover {
                background-color: #3C8DA5;
                cursor: pointer;
                border-radius: 5px;
            }

/* Đăng xuất */
.DX a {
    font-family: bold;
    font-size: 18px;
    color: #ffffff;
}

    .DX a:hover {
        color: #FF5274;
        cursor: pointer;
    }

.DX button {
    width: 100%;
    font-family: bold;
    font-size: 18px;
    color: #ffffff;
    background-color: inherit;
    border: none;
}

    .DX button:hover {
        color: #FF5274;
        cursor: pointer;
    }

/* Nội dung chính */
#mainbody {
    width: 82%;
    height: 100%;
}
