
﻿@{
    Layout = "~/Views/Shared/_LayoutMasterpage.cshtml";

}

<div id="banner">
    <div id="banner-right">
        <h1>Phần mềm quản lý quán cafe và tính tiền tốt nhất 2024</h2>
        <div><a src="sex.html">Phần mềm quản lý quán cafe </a>giúp tối ưu hóa quy trình order và tính tiền, hỗ trợ thanh toán đa phương thức,
        quản lý nguyên liệu và pha chế hiệu quả, nâng cao chất lượng phục vụ khách hàng.<a> PosApp </a>mang đến giải pháp toàn 
        diện cho quán cafe của bạn.</div>
    </div>
    <img id="banner-left" src="~/css/Images/phan-mem-quan-ly-quan-cafe.png">
</div>
<div id="ND1">
    <h2>Phần mềm quản lý quán cafe là gì?</h2>
    <div id="ND1-bottom">
        <img id="banner-left" src="~/css/Images/phan-mem-cafe-la-gi.jpg">
        <div>
            <p>Phần mềm quản lý quán cà phê là công cụ hỗ trợ bán hàng, order món ăn, tính tiền, in hóa đơn và quản lý điểm tích lũy,
            giúp nâng cao trải nghiệm khách hàng. Phần mềm tính tiền quán cafe tích hợp đầy đủ các tính năng cần thiết cho việc quản 
            lý hiệu quả quán cà phê:</p>
            <ul>
                <li><img class="icon" src="~/css/Images/Icon/tick icon.png"><a>Menu điện tử </a> hiện đại, trực quan, tiết kiệm chi phí in ấn.</li>
                <li><img class="icon" src="~/css/Images/Icon/tick icon.png">Order - thanh toán chính xác, tiết kiệm thời gian, hạn chế sai sót.</li>
                <li><img class="icon" src="~/css/Images/Icon/tick icon.png"><a>Báo cáo doanh thu </a>- lợi nhuận chi tiết.</li>
                <li><img class="icon" src="~/css/Images/Icon/tick icon.png">Tăng doanh thu cửa hàng thông qua mở rộng kênh bán và chăm sóc khách hàng cũ.</li>
            </ul>
        </div>
    </div>
</div>

<div id="ND2">
    <h2>Tính năng phần mềm quản lý quán ăn, nhà hàng PosApp</h2>
    <div id="ND2-bottom">
        <img id="banner-left" src="~/css/Images/bo-may-tinh-tien-01.jpg">
        <div>
            <h3>Giao diện trực quan, đa nền tảng</h3>
            <p>Phần mềm quản lý quán ăn, nhà hàng <a>PosApp</a> hỗ trợ trên nhiều thiết bị (điện thoại, máy tính bảng, PC, <a>máy POS bán hàng</a>,
               POS cầm tay) giúp tiết kiệm chi phí vận hành và tối ưu hóa hoạt động kinh doanh của các cơ sở ăn uống.</p>
            <ul>
                <li>Hạn chế thất thoát với tính năng kiểm soát quyền truy cập của nhân viên.</li>
                <li>Quản lý ca, phiếu chi tiền, doanh thu chi tiết, giúp đối soát và phát hiện thất thoát tức thời (nếu có) trong ca.</li>
                <li>Cập nhật liên tục số lượng hàng bán, hàng xuất kho, nhập kho trong từng ca.</li>
            </ul>
        </div>
    </div>
</div>

<div id="ND3">
    <div id="ND3-bottom">
        <div>
            <h3>Quản lý nhân viên hiệu quả</h3>
            <ul>
                <li>Hạn chế thất thoát thông qua kiểm soát quyền truy cập của nhân viên.</li>
                <li>Quản lý ca chi tiết: Theo dõi thu chi chi tiết trong ca. Giúp đối soát và phát hiện vấn đề tức thời (nếu có).</li>
                <li>Giám sát chặt chẽ số lượng sản phẩm bán ra, hàng xuất kho, nhập kho trong từng ca.</li>
            </ul>
        </div>
        <img id="banner-left" src="~/css/Images/quan-ly-nhan-vien-chat-che-01.jpg">
    </div>
</div>