@{
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}
    <div id="NVleft">
    </div>
    <div id="NVmiddle">
        <div class="product">
            <img src="~/css/Images/canh-kho-qua-nhoi-thit.jpeg" alt="anh san pham">
            <div class="tensp">Canh khổ qua</div>
            <div class="giasp">35.000</div>
        </div>

        <div class="product">
            <img src="~/css/Images/cococonut-cake.jpg" alt="anh san pham">
            <div class="tensp">Bánh dừa</div>
            <div class="giasp">3.000</div>
        </div>

        <div class="product">
            <img src="~/css/Images/cua.jpg" alt="anh san pham">
            <div class="tensp">Cua</div>
            <div class="giasp">20.000</div>
        </div>

        <div class="product">
            <img src="~/css/Images/donut.jpg" alt="anh san pham">
            <div class="tensp">Donut</div>
            <div class="giasp">45.000</div>
        </div>

        <div class="product">
            <img src="~/css/Images/banana-cake.jpg" alt="anh san pham">
            <div class="tensp">Bánh</div>
            <div class="giasp">35.000</div>
        </div>

        <div class="product">
            <img src="~/css/Images/tra-sua-chan-trau.jpg" alt="anh san pham">
            <div class="tensp">Trà sữa</div>
            <div class="giasp">35.000</div>
        </div>

        <div class="product">
            <img src="~/css/Images/beer.jpg" alt="anh san pham">
            <div class="tensp">Bia</div>
            <div class="giasp">20.000</div>
        </div>
    </div>
    <div id="NVright">
        <div id="tinhtien">
            <div class="sanpham">
                1.Bánh: 35.000
                <input class="soluongsp" type="number" value="2">
                <div>
                    70.000
                    <img src="~/css/Images/Icon/trash.svg" class="trash-icon">
                </div>
            </div>

        </div>
        <div id="thanhtien">
            <div id="thanhtien-upper">
                Tạm tính
                <div id="tientamtinh">100.000</div>
            </div>
            <div id="thanhtien-middle">
                <div id="thecho">
                    <img src="~/css/Images/Icon/debit-card.svg" class="atm-icon">
                    Thẻ chờ
                </div>
                <div id="money">
                    Thành tiền
                    <p>100.000</p>
                </div>
            </div>
            <div id="thanhtien-lower">
                <input type="button" id="commit" value="Thanh toán">
            </div>

        </div>

    </div>
