<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/LayoutMasterpage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rspmasterpage.css" asp-append-version="true" />

    <title>Document</title>
</head>
<body>
    <header>
        <section id="small-header"> 
            <div>
                <img src="~/css/Images/Icon/phone.webp">
                0165 333 669 
            </div>
        </section>
        <!-- MAIN HEADER -->
        <section id="main-header">
            <a asp-action="Index" asp-controller="Home"><img src="~/css/Images/Icon/logo.png" alt="anh-logo"></a>
            <nav id="navbar"> 
                <div id="des">Phần mềm quản lý (nhiều) quán cafe theo mô hình Saas</div>
                <div id="avatar">
                    <a asp-action="Index" asp-controller="Account">ĐĂNG NHẬP</a>
                </div>
            </nav>
        </section>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="my_footer" class="section-p1">
        <div class="col">
            <img class="logo" src="~/css/Images/Icon/logo.png" alt="">
            <p>
                Amet minim mollit non deserunt 
                ullamco est sit aliqua dolor do 
                amet sint. Velit officia consequat 
                duis enim velit mollit.
            </p>
            <div class="follow">
                <div class="icon">
                    <i class="uil uil-instagram ig"></i>
                    <i class="uil uil-linkedin ld"></i>
                    <i class="uil uil-facebook-f fb"></i>
                    <i class="uil uil-youtube yt"></i>
                </div>
            </div>
        </div>

        <div class="col link">
            <h4>Đường dẫn</h4>
            <a href="#">Sản phẩm</a>
            <a href="#">Thanh toán dịch vụ</a>
            <a href="#">Báo cáo doanh thu</a>
            <a href="#">Về chúng tôi</a>
            <a href="#">Liên hệ</a>
        </div>

        <div class="col contact">
            <h4>Thông tin liên hệ</h4>
            <a href="#">+84 77 6461 724</a>
            <a href="#">
                Số 99 phố Định Công Hạ, Quận Hoàng Mai,</br>Tp Hà Nội
            </a>
            <a href="#">Posapp@gmail.com</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From Appstore & Google Play</p>
            <div class="row">
                <img src="~/css/Images/Footer/Appstore.png" alt="">
                <img src="~/css/Images/Footer/Google Play.png" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="~/css/Images/Footer/Payment Gateway.png" alt="">
        </div>

        <div class="copyright">
            <p>2024 BTL LTWNC Nhóm 06</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>